In [25]:
import pandas as pd

df = pd.read_csv('../../data/maildata.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [27]:
def encode_categories(df, category_column='Category'):
    df_encoded = df.copy()
    df_encoded['Target'] = df_encoded[category_column].map({'spam': 1, 'ham': 0})
    return df_encoded

df= encode_categories(df)
df.head()

  Category                                            Message  Target
0      ham  Go until jurong point, crazy.. Available only ...       0
1      ham                      Ok lar... Joking wif u oni...       0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...       1
3      ham  U dun say so early hor... U c already then say...       0
4      ham  Nah I don't think he goes to usf, he lives aro...       0

In [28]:
df.drop(columns='Category')
df.head()

  Category                                            Message  Target
0      ham  Go until jurong point, crazy.. Available only ...       0
1      ham                      Ok lar... Joking wif u oni...       0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...       1
3      ham  U dun say so early hor... U c already then say...       0
4      ham  Nah I don't think he goes to usf, he lives aro...       0

In [29]:
import os
from sklearn.model_selection import train_test_split


os.makedirs('splits', exist_ok=True)


train_val_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

train_val_df.to_csv('splits/train.csv', index=False)
test_df.to_csv('splits/test.csv', index=False)